.App{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    background-color: rgb(41, 40, 40);
    color: rgb(231, 231, 221);
}
p{
    font-weight: 500;
}
.App-link{
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}